<h1>Your Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th colspan='4'>Items </th>

    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><% order.products.each do |product| %>
          <%= product.title %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
