<h1>Your Order contains</h1>
<table>
  <% @products.each do |product| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= product.title %></td>
      <td><%= truncate(strip_tags(product.description), length: 50) %></td>
      <td><%= product.price %></td>
      <td> <%= image_tag(product.images.first.url , class: 'list_image') if product.images.exists? %></td>
    </tr>
  <% end %>
</table>
<br />

<%= link_to 'New product', new_product_path %>
