<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<ul id="slideshow" style="list-style-type:none">
  <% @product.images.each do |image| %>
    <li><%= image_tag(image.url, size: "50x50")  %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
