<p id="notice"><%= notice %></p>


<h1><%= heading %></h1>
<%= render "line_items/line_items_table" %>
<% total_pages.times do |page_number| %>
  <%= link_to "#{page_number + 1}", line_items_users_path({page_number: page_number}), remote: true %>
  <% end %>

<br>

<%= link_to 'New Line item', new_line_item_path %>
